In [26]:
# Dependencies
import pandas as pd

In [27]:
# Reference the file where the CSV is located
obesity = "../Resources/Obesity.csv"
physical = "../Resources/Physical_Activity.csv"
life = "../Resources/Life_Expectancy.csv"

In [28]:
#Read CSVs 

obesity_df = pd.read_csv(obesity)
obesity_df.head()

,State,County,"Male obesity prevalence, 2001 (%)","Female obesity prevalence, 2001 (%)","Male obesity prevalence, 2009 (%)","Female obesity prevalence, 2009 (%)","Male obesity prevalence, 2011* (%)","Female obesity prevalence, 2011* (%)","Difference in male obesity prevalence, 2001-2009 (percentage points)","Difference in female obesity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,26.1,28.7,32.8,35.1,33.8,36.1,6.7,6.4,NaN,NaN
1,Alabama,NaN,29.7,34.1,36.1,41.2,37.3,42.2,6.4,7.1,NaN,NaN
2,Alabama,Autauga,30.7,32.3,35.9,37.4,37.1,38.8,5.3,5.2,NaN,NaN
3,Alabama,Baldwin,27.8,28.3,32.4,33.0,33.5,33.9,4.5,4.6,NaN,NaN
4,Alabama,Barbour,32.3,42.8,40.3,51.3,41.5,51.6,8.0,8.5,NaN,NaN

In [30]:
physical_df = pd.read_csv(physical)
physical_df.head()

,State,County,"Male sufficient physical activity prevalence, 2001 (%)","Female sufficient physical activity prevalence, 2001 (%)","Male sufficient physical activity prevalence, 2009 (%)","Female sufficient physical activity prevalence, 2009 (%)","Male sufficient physical activity prevalence, 2011* (%)","Female sufficient physical activity prevalence, 2011* (%)","Difference in male sufficient physical activity prevalence, 2001-2009 (percentage points)","Difference in female sufficient physical activity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,56.8,46.7,57.8,51.3,56.3,52.6,1.0,4.7,NaN,NaN
1,Alabama,NaN,52.4,40.4,51.5,41.4,49.5,42.0,-0.9,1.0,NaN,NaN
2,Alabama,Autauga,55.0,43.6,55.1,46.8,52.9,47.5,0.1,3.2,NaN,NaN
3,Alabama,Baldwin,55.4,48.4,56.6,49.2,54.1,49.6,1.2,0.8,NaN,NaN
4,Alabama,Barbour,45.7,33.0,46.4,34.6,44.9,35.8,0.7,1.6,NaN,NaN

In [31]:
life_df = pd.read_csv(life)
life_df.head()

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,5.2,3.0
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1

In [35]:
merge_df = pd.merge(life_df, obesity_df, on="State", how="left")
merge_df

,State,County_x,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)",...,"Male obesity prevalence, 2001 (%)","Female obesity prevalence, 2001 (%)","Male obesity prevalence, 2009 (%)","Female obesity prevalence, 2009 (%)","Male obesity prevalence, 2011* (%)","Female obesity prevalence, 2011* (%)","Difference in male obesity prevalence, 2001-2009 (percentage points)","Difference in female obesity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,...,26.1,28.7,32.8,35.1,33.8,36.1,6.7,6.4,NaN,NaN
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,...,29.7,34.1,36.1,41.2,37.3,42.2,6.4,7.1,NaN,NaN
2,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,...,30.7,32.3,35.9,37.4,37.1,38.8,5.3,5.2,NaN,NaN
3,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,...,27.8,28.3,32.4,33.0,33.5,33.9,4.5,4.6,NaN,NaN
4,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,...,32.3,42.8,40.3,51.3,41.5,51.6,8.0,8.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309449,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,...,26.6,26.1,33.6,35.3,34.7,36.0,7.0,9.2,NaN,NaN
309450,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,...,17.8,16.6,21.1,18.8,21.6,19.6,3.2,2.3,NaN,NaN
309451,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,...,24.1,25.0,35.2,34.0,36.5,34.8,11.1,9.0,NaN,NaN
309452,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,...,23.5,24.9,31.3,33.9,32.4,34.7,7.7,9.0,NaN,NaN
309453,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,...,27.0,28.4,35.7,35.0,36.8,35.9,8.7,6.5,NaN,NaN

In [ ]:
merge_df = pd.merge(life_df, obesity_df, on="State", how="left")
merge_df